SMART_CLIENT_ID=cc344727-6f90-496c-94fd-c7829aa9a51d
SMART_CLIENT_SECRET=replace_with_real_secret
SMART_SCOPE=launch openid fhirUser profile patient/*.read
SMART_PROXY_PORT=8787
SMART_PROXY_BASE_URL=http://localhost:8787
SMART_FRONTEND_REDIRECT_URI=http://localhost:5173/

VITE_SMART_PROXY_ENABLED=true
VITE_SMART_PROXY_BASE_URL=http://localhost:8787
