@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #0b1220;
  color: #e2e8f0;
  overflow-y: auto;
  overflow-x: hidden;
}

#root {
  min-height: 100%;
  background: #0b1220;
}